@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* default */
default-font-family = 'Montserrat', sans-serif
color-1 = #eab33b
color-1-2 = #ae8b3d
color-2 = #131313
color-2-1 = #161616
/* Header */
header-main-background-color = color-1
header-sub-background-color = color-1-2
header-main-color = color-2
header-sub-color = color-2-1
header-title-font = 'Amatic SC', cursive
/* Content */
content-background-color = color-2-1
content-main-color = color-1
/* Footer */
footer-background-color = color-2
footer-main-color = color-1
